<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title><%= user.username %>'s Pantry</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= user.username %>'s Pantry</h1>
    <ul class="user-list">
      <% user.pantry.forEach((item) => { %>
        <li><%= item.name %></li>
      <% }) %>
    </ul>
  <a href="/users"><button>Back to Community</button></a>
</body>
</html>